.h {
    color:rgb(52, 66, 79);
    font-size: 40px;
    border: 10px;
    border-style: dashed;
    border-color:rgb(157, 81, 95);

}
.h:hover {
    color:rgb(52, 66, 79);
    font-size: 40px;
    border: 10px;
    border-style: dashed;
    border-color:rgb(70, 103, 103);
    padding: 5px;
}

.l{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(234, 242, 248);
    border: 2px;
    border-style: solid;
}

.btn {
    color: rgb(6, 59, 137);
}

.btn:hover {
    color: rgb(129, 160, 205);

}
.check{
    color:rgb(102, 67, 23);
    float: right;
    padding-right: 80%;
}