.h {
    color:rgb(52, 66, 79);
    font-size: 40px;
    border: 10px;
    border-style: dashed;
    border-color:rgb(157, 81, 95);

}
.h:hover {
    color:rgb(52, 66, 79);
    font-size: 40px;
    border: 10px;
    border-style: dashed;
    border-color:rgb(70, 103, 103);
    padding: 5px;
}

.l{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(234, 242, 248);
    border: 2px;
    border-style: solid;
}

.btn {
    color: rgb(6, 59, 137);
    margin: 1px;
}

.btn:hover {
    color: rgb(129, 160, 205);
    margin: 1px;
}
.check{
    color:rgb(102, 67, 23);
    float: right;
    padding-right: 80%;
}

.container{
    margin: 20px;
    display: grid;
    grid-gap: 1px;
    height: 0px;
    width: 0px;
    border-color: rgb(67, 168, 160);
}

.input{
    border-style: solid;
    border-color: rgb(52, 140, 164);
}
.item{
    background-color: rgb(171, 228, 223);
}

.item:hover{
    background-color: rgb(122, 183, 178);
    margin: 3px;
}
