body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(129, 160, 205);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.header>h1{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding-bottom: 5px;
}

.creation{
    margin: 10px;
}
.btn {
    color: rgb(6, 59, 137);
    margin: 5px;
}

.btn:hover {
    color: rgb(129, 160, 205);
}

.container{
    margin: 20px;
    display: grid;
    grid-gap: 1px;
    height: 0px;
    width: 0px;
    border-color: rgb(67, 168, 160);
}

.input{
    border-style: solid;
    border-color: rgb(52, 140, 164);
}
.item{
    background-color: rgb(171, 228, 223);
}

.item:hover{
    background-color: rgb(122, 183, 178);
    margin: 3px;
}

.pre{
    display: none;
    background-color: rgb(234, 242, 248);
    width: 900px;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;
}
.pre>code{
    font-size: 16px;
}
